<ion-view view-title="Album" id="album">
    <ion-content>
        <div class="list">
            <div class="card card-gallery item item-text-wrap" ng-repeat="album in albums" ui-sref="app.gallery({id:album.albumId})">
                
                    <div class="ink">
                        <img class="full-image" src="img/banner.jpg">
                    </div>
                    <div class="item ">
                        <span>{{ album.albumName }}</span>
                    </div>
               
            </div>
        </div>
    </ion-content>
</ion-view>
