<ion-view title="Cart">
    <ion-content padding="'true'" class="has-header">
		<div ng-repeat="item in items">
			<div class="list card" >
				<div class="item item-divider ticket-title">{{item.title}} </div>
				<div class="item item-divider ticket-footer">
					<div>
						<button class="button button-energized button-block total-price" >
							{{item.qty}} x &dollar; {{item.price}} = &dollar; {{ item.qty *  item.price  }}
						</button>
					</div>
					<div class="button-bar">
						<button ng-click="delete(item.id)" class="button button-assertive button-block button-small icon ion-android-delete" ></button>
						<button class="button button-balanced  button-block button-small icon ion-plus" ng-click="increase(item.id)"></button>
						<button class="button button-balanced button-block button-small" ng-disabled=true>{{item.qty}}</button>
						<button class="button button-balanced  button-block  icon ion-minus" ng-click="decrease(item.id)" ></button>
					</div>
				</div>
			</div>
		</div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-energized">
     	<button class="button button-large button-energized" style="width:30%;" ng-disabled=true>
     		&dollar; {{ totalPrice }}
     	</button>
    	<button class="button button-large button-royal ion-chevron-right icon-right" style="width:70%;">
		 Checkout
		</button>
    </ion-footer-bar>
</ion-view>