<ion-view view-title="Committee" id="committee">
    <ion-content>
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <div class="card">
                    <header class="card-header">
                        <h3>President</h3>
                        <figure class="image">
                            <img src="img/SGADGIL.png">
                            <figcaption><h4>Sandeep Patil</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>president@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>In Chicagoland for the last 16 yrs</li>
                                <li>Involved in several organizations back in India (Natya Sanstha, Not-for-profit)</li>
                                <li>Co-Chair BMM 2011 NAPC committee</li>
                                <li>VP of MMC organizing committee 2012</li>
                                <li>Secretary of MMC organizing committee 2013</li>
                            <ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <header class="card-header">
                        <h3>President</h3>
                        <figure class="image">
                            <img src="img/SGADGIL.png">
                            <figcaption><h4>Sandeep Patil</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>president@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>In Chicagoland for the last 16 yrs</li>
                                <li>Involved in several organizations back in India (Natya Sanstha, Not-for-profit)</li>
                                <li>Co-Chair BMM 2011 NAPC committee</li>
                                <li>VP of MMC organizing committee 2012</li>
                                <li>Secretary of MMC organizing committee 2013</li>
                            <ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>
