<ion-view view-title="Committee" id="committee">
    <ion-content>
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <div class="card">
                    <header class="card-header">
                        <h3>President</h3>
                        <figure class="image">
                            <img src="img/president.jpeg">
                            <figcaption><h4>Ravi Joshi</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>karyakarini@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>Resident of Chicagoland since 2007</li>
                                <li>Was a part of BMM convention 2011 - Marketing team</li>
                                <li>Got involved in Maharashtra Mandal activities in 2012, as Sports team</li>
                                <li>Was a part of 2013 MMC Karyakarini as IT and Sports team</li>
                                <li>Was a part of 2014 MMC Karyakarini as Vice President</li>
                                <li>Was a part of 2016 MMC Karyakarini as Sports team</li>
                                <li>Motivated with the background principle of MMC to get Chicagoland Marathi community together and to attend next level by painting social face of MMC</li>
                            <ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <header class="card-header">
                        <h3>Vice President</h3>
                        <figure class="image">
                            <img src="img/vp.jpeg">
                            <figcaption><h4>Shilpa Naik</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>karyakarini@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>In Chicagoland since 1995</li>
                                <li>Active member of MMC 13 & MMC 14 committee</li>
                                <li>Secretary, MMC 2016</li>
                                <li>Like to work for our community</li>
                                <li>Would like to expand the reach of MMC</li>
                            <ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <header class="card-header">
                        <h3>Vice President</h3>
                        <figure class="image">
                            <img src="img/vp1.jpeg">
                            <figcaption><h4>Ashish Nagarkar</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>karyakarini@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>Living in Chicago-land for over 11 years</li>
                                <li>Actively involved in Chicago Maharashtra Mandal events and other social events</li>
                                <li>Treasurer for MMC 2013</li>
                                <li>Rachana Co-Editor for 2015</li>
                                <li>Looking forward to bring community together with excellent programs throughout the year</li>
                            <ul>
                        </div>
                    </div>
                </div>


                 <div class="card">
                    <header class="card-header">
                        <h3>Secretary</h3>
                        <figure class="image">
                            <img src="img/secretary.jpeg">
                            <figcaption><h4>Mrinal Joglekar</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>karyakarini@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>Chicago suburb resident for 30 years!!!</li>
                                <li>BMM 2011 Program Management Chair</li>
                                <li>MMC 2016 Vice President</li>
                                <li>IIT Mumbai and UIC alum</li>
                                <li>Very interested in advancing Community activities and Professional Networking within our MMC family</li>
                            <ul>
                        </div>
                    </div>
                </div>


                 <div class="card">
                    <header class="card-header">
                        <h3>Treasurer</h3>
                        <figure class="image">
                            <img src="img/treasurer.jpeg">
                            <figcaption><h4>Sunil Dev</h4></figcaption>
                        </figure>
                        <span class="ion-email"><a>treasurer@mahamandalchicago.org</a></span>
                    </header>
                    <div class="card-body">
                        <div class="intro">
                            <ul>
                                <li>Chicago resident for 22 years</li>
                                <li>Actively involved in Chicago Maharashtra Mandal events</li>
                                <li>IT Coordinator MMC 2014</li>
                                <li>Vice President MMC 2016</li>
                                <li>Looking forward to bringing exciting & entertaining programs catering to all age groups in 2017</li>
                            <ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="intro">
                            <p>
                                <span><strong>Decoration</strong></span>:&nbsp;<span>Vaishali Gadgil,Varsha Visal</span>
                            </p>
                            <p>
                                <span><strong>Extended Committee</strong></span>:&nbsp;<span>Ambarish Bhagwat,Amol Patil,Mansee Joshi,Nilesh Malpekar,Pranshu Adavadkar,Sagar Panchpor,Sunita Toke,Suresh Pandav,Vrushali Panat
                                </span>
                            </p>
                            <p>
                                <span><strong>Facebook</strong></span>:&nbsp;<span>Ulka Nagarkar
                                </span>
                            </p>
                            <p>
                                <span><strong>Facility</strong></span>:&nbsp;<span>Bharat Naik,Sanjay Marathe
                                </span>
                            </p>
                            <p>
                                <span><strong>Films Division</strong></span>:&nbsp;<span>Pankaj Akolkar
                                </span>
                            </p>
                            <p>
                                <span><strong>Food</strong></span>:&nbsp;<span>Bharati Velankar,Shubhangi Sumant,Swati Pawar,Vaishali Dev
                                </span>
                            </p>
                            <p>
                                <span><strong>IT</strong></span>:&nbsp;<span>Rahul Thatte,Ramdas Thatte
                                </span>
                            </p>
                            <p>
                                <span><strong>Marketing & Fundraising</strong></span>:&nbsp;<span>Bharati Velankar,Vaishali Raje
                                </span>
                            </p>
                            <p>
                                <span><strong>President-BMM</strong></span>:&nbsp;<span>Niteen Joshi
                                </span>
                            </p>
                            <p>
                                <span><strong>President-Marathi Shala</strong></span>:&nbsp;<span>Vidya Joshi
                                </span>
                            </p>
                            <p>
                                <span><strong>Publicity</strong></span>:&nbsp;<span>Milind Velankar
                                </span>
                            </p>
                            <p>
                                <span><strong>Rachana</strong></span>:&nbsp;<span>Kshama Marathe,Radha Godambe
                                </span>
                            </p>
                            <p>
                                <span><strong>Sports</strong></span>:&nbsp;<span>Mandar Pitre,Ravi Bamne
                                </span>
                            </p>
                            <p>
                                <span><strong>The Board of Trustees</strong></span>:&nbsp;<span>Sucheta Akolkar,Jaydeep Buzruk,Sandeep Gadgil
                                </span>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>
