<ion-view id="contact" view-title="Contact Us">
    <ion-content padding="true" scroll="false">
    <label for="contact-form"></label>
        <form id="contact-form">
            <div class="row responsive-md form-body">
                <div class="col col-50 col-offset-25">

                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Subject" ng-model="message.subject">
                        </label>
                        <label class="item item-input">
                            <textarea placeholder="Your message" ng-model="message.messageBody"></textarea>
                        </label>
                        
                    </div>

                    <button class="button button-block button-accent" ng-click="send()">
                        Click to send
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>