<ion-view view-title="Event" id="event">
    <ion-content >
        <div class="event-card">
            <h2 class="event-title">{{event.eventName}}</h2>

            <p class="event-description">{{event.eventDescription}}</p>

            <p class="event-time">
                <div class="calendar">
                    <div class="date-col">
                      <div class="year-row">{{event.eventStart | date : 'yyyy'}}</div>
                      <div class="date-row">{{event.eventStart | date : 'dd'}}</div>
                      <div class="month-row">{{event.eventStart | date : 'MM'}}</div>
                      <div class="time-row">{{event.eventStart | date : 'hh'}}:{{event.eventStart | date : 'mm'}}</div>
                    </div>
                </div>
                <span><i>to</i></span>
                <div class="calendar">
                    <div class="date-col">
                        <div class="year-row">{{event.eventEnd | date : 'yyyy'}}</div>
                        <div class="date-row">{{event.eventEnd | date : 'dd'}}</div>
                        <div class="month-row">{{event.eventEnd | date : 'MM'}}</div>
                        <div class="time-row">{{event.eventEnd | date : 'hh'}}:{{event.eventEnd | date : 'mm'}}</div>
                    </div>
                </div>
            </p>
            <p class="event-venue">
                <span class="ion-location"></span> <span>{{event.eventVenue}}</span>
            </p>

            <p class="button-para">
               <a class="button button-purple button-round " href="#" ng-click="open()">
                    Buy Tickets
                </a>
            </p>
        </div>
        <div id="map">

        </div>
    </ion-content>
</ion-view>
