<ion-view view-title='Events' id="event">
        <ion-content scroll="true" class="main-content" id="event">
        	<div>
        		<div class="button-bar">
    				  <button class="button bar-accent icon-left ion-chevron-left" ng-click="changeDate(-1)">Prev</button>
    				  <button class="button bar-accent">{{viewTitle}}</button>
    				  <button class="button bar-accent icon-right ion-chevron-right" ng-click="changeDate(1)">Next</button>
				    </div>
        	</div>
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      format-month-title="MMM yyyy"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime, events)" step="30" showEventDetail=false
                      ></calendar>

          <div class="event-detail-container-custom" >
            <div class="list">
                  <div class="item" ng-repeat="event in events">
                      <h2>{{ ::event.title }}</h2>
                      <p>{{ ::event.description }}</p>
                      <p><span>Cost :</span><span>{{ ::event.price }}</span></p>
                      <p class="btn-row">
                        <button class="button  button-add" ng-click="addToCart(event)">
                          Add
                        </button>
                      </p>
                  </div>
                  <div class="item" ng-if="!events">
                    <h3> No Events on this date </h3>
                  </div> 
              </div>
            </div>
        </ion-content>
</ion-view>