<ion-view view-title={{viewTitle}}>
        

        <ion-content scroll="false" class="main-content">
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime, events)" step="30" showEventDetail=true></calendar>
        </ion-content>
</ion-view>