<ion-view view-title='Events' id="event">
        <ion-content scroll="true" class="main-content" id="event">
           <div class="card" ng-repeat="event in eventSource">
              <div class="card-1">
                <div class="card-1-container">
                </div>
              </div>
              <div class="card-2">
                <div class="card-2-container">
                  <h2 class="event-title">{{ event.eventName }}</h2>
                  <p> <span class="ion-clock"></span> {{ event.eventStart | date: 'yyyy-MM-dd HH:mm'}} </p>
                </div>
              </div>
              <div class="card-3" ui-sref="app.event-details({ id : event.eventId })">
                <div class="card-3-container">
                  <div class="next">
                    <span class="ion-chevron-right"></span>
                  </div>
                </div>
              </div>
           </div>
        </ion-content>
</ion-view>