<ion-view view-title="Home" id="home">
	<ion-content class="home-page">
		<div class="card">
			<img src="img/home-banner.png?124134134">
		</div>
		<div class="card" style="padding:10px;">
			<p>नमस्कार मंडळी,</p>
			<p>चैत्राची नवपालवी सोबत रंगांची उधळण, नवचैतन्याने रंगवूया गुढीपाडव्यासंगे होळीचा सण!</p>
			<p>महाराष्ट्र मंडळ शिकागो गुढीपाडवा आणि होळीचाउत्सव दिनांक <span style="color: rgb(255, 0, 0);"><strong>८ एप्रिल २०१७</strong></span>रोजी
				<span style="color: rgb(255, 0, 0);"><strong>Bolingbrook High School&nbsp;</strong></span>येथे <span style="color: rgb(255, 0, 0);"><strong>सकाळी</strong><strong> ११:०० </strong><strong>ते संध्याकाळी ६:००&nbsp;</strong></span>पर्यंत
				मोठ्या उत्साहाने साजरा करत आहे.</p>
			<p>सालाबादप्रमाणे, उत्सवाचीसुरुवातसत्यनारायण पूजेने होईल. ह्या उत्सवाला आणखी बहारदार करण्यासाठी नवीन वर्षामध्ये कार्यकारिणी
				तुमच्यासाठी ‘चैत्रातले हळदी कुंकू’&nbsp; घेऊन येत आहे.</p>
			<p>गुढीपाडव्याच्या कार्यक्रमाचे मुख्य आकर्षण आहे&nbsp;<span style="color: rgb(255, 0, 0);"><strong>लोकेश गुप्ते</strong><strong>, </strong><strong>शर्वरी लोहकरे आणि संजय नार्वेकर</strong></span>				यांच्या दमदार अभिनयानेरंगलेले; <span style="color: rgb(255, 0, 0);"><strong>सुयोग निर्मित</strong></span>आणि&nbsp;
				<span style="color: rgb(255, 0, 0);"><strong>विजय केंकरे</strong> <strong>दिग्दर्शित&nbsp;</strong></span>खुर्चीला खिळवून
				ठेवणारे रहस्यमयथरारनाट्य&nbsp;
				<span style="color: rgb(255, 0, 0);"><strong>तीन पायांची शर्यत</strong></span>. विरोधी स्वभाव आणि विविध पार्श्वभूमी असणारी
				तीन व्यक्तिमत्वे, त्यांच्यातील नाते आणि नकळत सुरू झालेला एक विलक्षण प्रवास, अशी चित्तथरारक कथा मांडणारे तीन पायांची शर्यत
				हे नाटक शिकागो मधील चोखंदळ रसिकांची मनें जिंकून घेईलह्याची आम्हाला खात्री आहे.</p>
			<p>ह्याअफलातून नाटकाचाआरंभ होईल आपल्या मराठी शाळेतील बालकलाकारांच्या पारंपरिक नांदीनेआणि ह्या धमाकेदारसोहोळ्याचीसांगता होईल
				रंगपंचमीने!
			</p>
			<p>हा उत्सव यशस्वी आणि अविस्मरणीय करण्यासाठी आपल्या सर्वांच्या सहभागाची आणि उपस्थितीची आवश्यकता आहेतेव्हा लवकरच भेटूया गुढीपाडवा
				आणि होळीच्या रंगतदार सोहळ्याला.</p>
			<p>कार्यक्रमाची रूपरेखा आणि registration information पुढीलप्रमाणे आहे:</p>
			<p><span style="color: rgb(255, 0, 0);"><strong>कार्यक्रमाचे वेळापत्रक</strong></span><strong>:</strong></p>
			<table class="event-plan">
				<tbody>
					<tr>
						<td class="first-column"><span style="color: rgb(0, 0, 128);"><strong>सकाळी ११:०० ते दुपारी १२:३०</strong></span></td>
						<td class="second-column"><span style="color: rgb(0, 0, 128);"><strong>सत्यनारायण पूजा</strong></span></td>
					</tr>
					<tr>
						<td class="first-column"><span style="color: rgb(0, 0, 128);"><strong>सकाळी ११:०० ते दुपारी १२:३०</strong></span></td>
						<td class="second-column"><span style="color: rgb(0, 0, 128);"><strong>दर्शन+प्रसाद, चैत्र हळदीकुंकू, नोंदणी (Registration)</strong></span></td>
					</tr>
					<tr>
						<td class="first-column"><span style="color: rgb(0, 0, 128);"><strong>सकाळी १२:०० ते दुपारी २:००</strong></span></td>
						<td class="second-column"><span style="color: rgb(0, 0, 128);"><strong>जेवण</strong></span></td>
					</tr>
					<tr>
						<td class="first-column"><span style="color: rgb(0, 0, 128);"><strong>दुपारी २:१५ ते दुपारी २:३०</strong></span></td>
						<td class="second-column"><span style="color: rgb(0, 0, 128);"><strong>शिकागो मराठी शाळा- नांदी</strong></span></td>
					</tr>
					<tr>
						<td class="first-column"><span style="color: rgb(0, 0, 128);"><strong>सकाळी २:३० ते सायं. ५:००</strong></span></td>
						<td class="second-column"><span style="color: rgb(0, 0, 128);"><strong>नाटक : तीन पायांची शर्यत</strong></span></td>
					</tr>
					<tr>
						<td class="first-column"><span style="color: rgb(0, 0, 128);"><strong>सायं. ५:०० ते ६:३०</strong></span></td>
						<td class="second-column"><span style="color: rgb(0, 0, 128);"><strong>चहा, नाश्ता + रंगपंचमी आणि कार्यक्रम सांगता</strong></span></td>
					</tr>
				</tbody>
			</table>
			<p><strong><span style="color: #ff0000;">Venue:&nbsp;Bolingbrook High School (365 Raider Way, Bolingbrook, IL 60440)</span></strong></p>
			<p><strong><span style="color: #ff0000;">Date:&nbsp;Saturday, April 8th 2017&nbsp;&nbsp;</span></strong></p>
			<p><strong><span style="color: #ff0000;">Time:&nbsp;11:00 AM to 06:30 PM</span></strong></p>
			<p>&nbsp;</p>
			
		</div>
	</ion-content>
</ion-view>