<ion-view class="login" hide-nav-bar="true">
    <ion-content>
        <form name="form">
            <div class="form-header">
                <img class="logo" src="img/ganesha.svg">
                <h1>महाराष्ट्र मंडळ</h1><h2> शिकागो</h2>
            </div>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="login-form">
                        <div class="list">
                            <label class="item item-input">
                                <input name="email"  class="item-input-custom" type="email" placeholder="Email" ng-model="user.email" ng-required="true">
                            </label>
                            <p ng-show="form.email.$touched && form.email.$error.email" class="item item-input assertive">
                                Please enter a valid Email Id
                            </p>
                        
                            <label class="item item-input">
                                <input class="item-input-custom" type="password" placeholder="Password" ng-model="user.password" ng-required="true">
                            </label>
                        </div>

                        <button class="button button-block button-login icon-right ion-chevron-right" ng-click="login()" ng-disabled="form.$invalid">
                            Log In
                        </button>
                    </div>
                    <div class="row options">
                        <div class="col text-left" ui-sref="signup">
                            <span>SignUp</span>
                        </div>
                        <div class="col text-right">
                            <span>Forgot password ?</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>