<ion-view view-title='Membership'>
  <ion-content scroll="true" class="main-content" id="membership">
    
    <div class="card" ng-repeat="type in membership">
      <div class="card-1">
        <div class="card-1-container">
        </div>
      </div>
      <div class="card-2">
        <div class="card-2-container">
          <h2 class="event-title">{{type.name}}</h2>
          <p>{{type.description}}</p>
          <p><i>Cost : </i> ${{type.cost}}</p>
        </div>
      </div>
      <div class="col text-center">
        <button class="button button-block button-purple icon-right ion-chevron-right" ng-click="open()">
                                Buy
                            </button>
      </div>
    </div>

  </ion-content>
</ion-view>
