<ion-view view-title='Membership'>
        <ion-content scroll="true" class="main-content" id="membership">
        	 
             <div class="card">
                <div class="card-1">
                  <div class="card-1-container">
                  </div>
                </div>
                <div class="card-2">
                  <div class="card-2-container">
                    <h2 class="event-title">Family Yearly Pass (2017)</h2>
                    <p> This package is available for Family of Four (2 Adults + 2 Kids) and valid for the year 2017. Premium Seating for all 4 Core events. 2017 Annual Membership. $250 Tax deduction certificate.</p>
                    <p><i>Cost : </i> $350</p>
                  </div>
                </div>
                <div class="col text-center">
                            <button class="button button-block button-purple" ng-click="open()">
                                Buy
                            </button>
                        </div>
             </div>

             <div class="card">
                <div class="card-1">
                  <div class="card-1-container">
                  </div>
                </div>
                <div class="card-2">
                  <div class="card-2-container">
                    <h2 class="event-title">Family Yearly Pass (2017)</h2>
                    <p> This package is available for Family of Four (2 Adults + 2 Kids) and valid for the year 2017. Premium Seating for all 4 Core events. 2017 Annual Membership. $250 Tax deduction certificate.</p>
                    <p><i>Cost : </i> $350</p>
                  </div>
                </div>
                <div class="col text-center">
                            <button class="button button-block button-purple" ng-click="open()">
                                Buy
                            </button>
                        </div>
             </div>
              
         
        </ion-content>
</ion-view>