<ion-view view-title="MMC" id="home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/banner.jpg');">
            <div class="content">
                <p >घेऊनी दिव्यांचा प्रकाश सोनेरी,<br>
                        माळोनी गंध मधुर उटण्याचा…….<br>
                        करा संकल्प सुंदर जगण्याचा,<br>
                        गाठोनी मुहूर्त दिवाळीच्या सणाचा….</p>
            </div>
        </div>
        <div class="home-article article1">
            <h2>Maharashtra Mandal Chicago (MMC)</h2>

            <p>Maharashtra Mandal Chicago (MMC) is a non-profit organization serving the local community since 1969.</p>
            <p>It is the first Maharashtra Mandal formed in North America. It is also the proud founder of Brihan Maharashtra Mandal. The most amazing tradition, it has kept up is the annual hosting a full-fledged 3-hour Marathi drama.</p>
            <p>The main objective of Maharashtra Mandal, Chicago is to provide the cultural support to all Maharashtrian people now in USA, with roots in Maharashtra. Another major activity of Maharashtra Mandal, Chicago is to help in bringing together Marathi speaking Indian community.</p>
            <p>Maharashtra Mandal, Chicago organizes various events related to traditional Maharashtrian cultural programs such as Gudhi Padava, Natya Sangeet, Marathi NatyaMahotsava, Ganesh Chaturthi, Diwali, Varsha Sahal, and many more. The aim is to promote the Artists in various fields.</p>
        </div>
    </ion-content>
</ion-view>
