<ion-view view-title="MMC" id="home">
    <ion-content >
        <div class="hero " style="background-image: url('img/banner.jpg');">
            <div class="content">
                <p >घेऊनी दिव्यांचा प्रकाश सोनेरी,<br>
                        माळोनी गंध मधुर उटण्याचा…….<br>
                        करा संकल्प सुंदर जगण्याचा,<br>
                        गाठोनी मुहूर्त दिवाळीच्या सणाचा….</p>
            </div>
        </div>
        <div class="home-article article1">
            <div ng-bind-html="content"></div>
        </div>
    </ion-content>
</ion-view>
