<ion-view view-title="Notifications" id="notice">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a class="item item-avatar item-icon-right">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                </a>
                <a class="item item-avatar item-icon-right">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                </a>
                <a class="item item-avatar item-icon-right">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                </a>
                <a class="item item-avatar item-icon-right">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
