<ion-view view-title="Notifications" id="notice">
    <ion-content>
        <div class="content">
            <div class="list ">
                <a class="item item-avatar item-icon-right">
                    <h2>Notification 1</h2>
                    <p>This is notification1.</p>
                </a>
                <a class="item item-avatar item-icon-right">
                    <h2>Notification 2</h2>
                    <p>This is notification1.</p>
                </a>
                <a class="item item-avatar item-icon-right">
                    <h2>Notification 3</h2>
                    <p>This is notification3.</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
