<ion-view view-title="President Corner" id="home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="home-article article1">
            <p>नमस्कार मंडळी,</p>
            <p>मार्गाधारेवर्तावे| विश्वहेमोहरेलावावे |  अलौकिकनोहावे | लोकांप्रति ||</p>
            <p>ज्ञानेश्वरांनी तिसऱ्याअध्यायात लोकसंस्था कशी चालवावी याचं एक नीलचित्रच लिहून दिले आहे, आखून दिलेल्या पद्धतीने मार्गक्रमण करत, पुढील भव्य वाटचालीचा मार्ग प्रशस्त करताना, लोकांचे हीत दृष्टीआड न करता निर्णयप्रणाली आखावी, असं ज्ञानेश्वर सुचवितात. अगदी तेराव्या शतकात सांगितलेले हे सूत्र विशेषतः आजच्या आधुनिक युगात देखील योग्य आहे.</p>
            <p>२०१७ सालचे महाराष्ट्रमंडळ शिकागोचे अध्यक्षपद स्वीकारताना मनात संमिश्र भावना दाटून येत आहेत. २०११ सालच्या बृहनमहाराष्ट्रमंडळाच्या शिकागो अधिवेशनानंतर कात टाकलेल्या मंडळाने, गेल्या चार वर्षात विविधांगी उपक्रम राबवत आपला चेहरामोहरा बदलला. या बदलांना शिकागोकरांनी मनापासून दाद दिली आणि या चार वर्षात मंडळाच्या कार्येक्रमांना मिळालेल्या विक्रमी प्रतिसादातून हे प्रतीत झालं. मंडळाची हि चढती कमान यापुढे नेण्याचे दायित्व स्वीकारताना, एक सामाजिक संस्था म्हणून भान ठेवत शिकागोतल्या मराठी भाषिकांची एकजूट साधण्याचे मुलतत्व उराशी जपत मंडळाला पुढची दिशादेण्याची जबाबदारीही आम्ही स्विकारली आहे.</p>
            <p>गेल्या काही वर्षातील घडत असलेल्या बदलांना अधिक गतिमान करण्यासाठी, कार्यकारिणी २०१७ सालात काही महत्वपूर्ण उपक्रम हाती घेत आहे. महाराष्ट्रमंडळाचे स्मार्टफोन App  तयार करून या वर्षात launch  करण्याचे ठरवले आहे, तसेच महाराष्ट्रमंडळाच्या प्रत्येक कार्येक्रमात एकातरी स्थानिक (local) कार्यक्रमाचा समाविष्टकरून, स्थानिक कलागुणांना प्रोत्साहन देण्याचे आणि त्यांना व्यासपीठ मिळवून देण्याचे काम मंडळाच्या अग्रक्रमावर असेल.</p>
            <p>याच बरोबर मंडळाच्या प्रत्येक कार्यक्रमात एका सामाजिकसंस्थेला पाचारण करून त्यांच्याकार्याची माहिती आपल्या सभासदांना करवून देण्यासाठी मंडळ प्रयत्न करेल. या उपक्रमाद्वारे या सामाजिक संस्थांना आपल्या मंडळाची तसेच आपल्याला यांच्या सामाजिक कार्याची ओळख होईल. या साठीच या वर्षीचे ठरवलेले ब्रीदवाक्य  ” मनी आपुल्या माय मराठीचीओढ़।  देवू तयाला समाज कार्याची जोड़।। ”  पुढील वाटचालीला मार्गदर्शक ठरेल. महाराष्ट्रमंडळाच्या कार्याला सामाजिक चळवळीचे रूप देण्यासाठी हा उपक्रम महत्वपूर्ण असणार आहे. ‘MMC – Painting Social Face of the United Marathi Community’</p>
            <p>या साठी जुन्या जाणत्यांचा अनुभव आणि नव्यांचा उत्साह याचा समन्वय साधून मंडळाची यापुढची वाटचाल करण्याचा आमचा मानस आहे. आत्ता पर्यंत शिकागोकरांनी मंडळाला नेहेमीच भक्कम पाठिंबा दिला आहे, आणि यापुढेही तेआमच्यापाठी शीखंबीरपणे उभे राहतील याची आम्हाला खात्री आहे.</p>
            <p>कळावे लोभ आहेच, तो वाढावा.</p>
            <p>आपला नम्र,<p>
            <p>रवी जोशी<br>
            अध्यक्ष, महाराष्ट्रमंडळ शिकागो २०१७</p>
        </div>
    </ion-content>
</ion-view>
