<ion-view view-title="President Corner" id="home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="home-article article1">
            <p>नमस्कार मंडळी,</p>
            <p>महाराष्ट मंडळ शिकागो २०१६ कार्यकारिणीतर्फे, आपल्या सर्वाना नवीन वर्षाच्या हार्दिक शुभेच्छा. आपल्या सर्वाना हे वर्ष भरभराटीचे, समृद्धीचे, आणि शांतीपूर्ण जावो हीच सदिच्छा.</p>
            <p>आपण मला २०१६ चे अध्यक्ष होण्याची संधी दिलीत याबद्दल मी आपला आभारी आहे. २०११ साली शिकागोमध्ये झालेले बृहन्महाराष्ट्र मंडळाचे अधिवेशन हे माझ्यासाठी आणि माझ्यासारख्या बऱ्याच जणांसाठी खास होते. नितीन जोशी, पंकज अकोलकर, आणि सुजित वैद्य यांच्या मार्ग्दशानाखाली २०० हून अधिक कार्यकर्त्यांनी हे अधिवेशन यशस्वी केले. यामुळे मी महाराष्ट्र मंडळाच्या अधिक जवळ आलो. माझी अर्धांगिनी वैशाली आणि मुलगी अनुजा यांनी वेळोवेळी दिलेल्या पाठींब्यामुळे मी BMM नंतर महाराष्ट्र मंडळाच्या कार्यकारिणीवर काम करू शकलो.</p>
            <p>आम्ही या वर्षी रचना मध्ये नवीन स्तंभ (Columns) चालू करणार आहोत. भारतामधून आपले काही लेखक मित्र प्रत्येक रचना मध्ये काही लेख पाठवणार आहेत, तसेच योगावर हि लेख असणार आहे आणि एक finance वर हि लेख देण्याचा आमचा मानस आहे. रचना मध्ये गेले काही वर्षे बल्लवाचार्य हे सदर चालू आहे. त्यामध्ये थोडा बदल करून आम्ही ह्या वर्षी ह्या सदरामध्ये पौष्टिक पदार्थांच्या recipe देण्याच्या प्रयत्न करणार आहोत.</p>
            <p>ज्या थोर कवीने आपल्या सगळ्यांना “<b>या जन्मावर आणि जगण्यावर सतत प्रेम करायला शिकवले</b>” असे प्रसिध्द श्री. मंगेश पाडगावकर यांचे ३० डिसेंबर रोजी वृधापकालामुळे निधन झाले.त्यांचा स्मृतीस महाराष्ट्र मंडळ शिकागोतर्फे भावपूर्ण आदरांजली.</p>
            <p>मी मागील वर्षी चांगले कार्यक्रम आणल्याबद्दल गेल्यावर्षीच्या अध्यक्षा सौ. सुचेता अकोलकर आणि त्यांच्या कार्यकारिणीचे अभिनंदन करतो. तसेच चांगले कार्यक्रम आम्ही आपल्याला देण्याचा प्रयत्न करू. मकर संक्रांतीच्या दिवशी आम्ही वेशभूषा स्पर्धा घेणार आहोत. त्यानंतर संगीताचा बहारदार कार्यक्रम कॅनडाचा “<b>स्वरगंध</b>” ग्रुप सादर करणार आहेत.</p>
            <p>मंडळाचा पहिला कार्यक्रम अर्थात मकर संक्रांतीचा २३ जानेवारी २०१६ रोजी संत निरंकारी मध्ये आयोजित केला आहे. संक्रांतीचा आणि २०१६ वर्षातील सगळे कार्यक्रम यशस्वी करण्यासाठी श्री समर्थ आहेतच, पण त्याचबरोबर आम्हाला आपल्या सर्वांची उपस्थितीही आवश्यक आहे. तर चला मंडळीनो आपण सर्व जण महाराष्ट्र मंडळाचे २०१६ वर्ष यशस्वी करूया.</p>
            <p>आपला नम्र,</p>
            <p>संदीप गाडगीळ,<br>
            अध्यक्ष, महाराष्ट्र मंडळ शिकागो २०१६</p>
        </div>
    </ion-content>
</ion-view>
