<ion-view id="login" hide-nav-bar="true">
    <ion-content>
        <form>
            <div class="form-header">
               <h2>SIGN UP</h2>
            </div>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="list">
                        <label class="item item-input">
                            <ion-md-input type="text" placeholder="First name">
                        </label>
                        <label class="item item-input">
                            <ion-md-input type="text" placeholder="Last name">
                        </label>
                        <label class="item item-input">
                            <ion-md-input type="email" placeholder="Email">
                        </label>
                        <label class="item item-input">
                            <ion-md-input type="text" placeholder="Password">
                        </label>
                         <label class="item item-input">
                            <ion-md-input type="password" placeholder="Re-type password">
                        </label>
                    </div>

                    <button class="button button-block button-login icon-right ion-chevron-right" ui-sref="app.home">
                        Sign Up
                    </button>

                   <div class="row row-no-padding options">
                        <div class="col text-center" ui-sref="login">
                            <span class="ion-chevron-left">&nbsp;</span><span>Back</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>