<ion-view>
<ion-content scroll="true" class="main-content">
	<div class="card ticket" ng-repeat="product in products">
	  <div class="item item-divider ticket-title">
	    {{ product.title }}
	  </div>
	  <div class="item item-text-wrap ticket-body">
	    {{ product.description }}
	  </div>
	  <div class="item item-divider ticket-footer">
	    <button class="button button-energized btn-price" ng-disabled=true>
		  &dollar;{{ product.price }}
		</button>
	    <button class="button button-assertive btn-add-right ion-ios-cart" ng-click="addToCart( product );display = true;" ng-show="!display">
		  Add
		</button>
		<button class="button button-assertive btn-add-right ion-ios-cart" ng-show="display">
		  Go to Cart
		</button>
	  </div>
	</div>
</ion-content>
</ion-view>