#album .list {
    width: 95%;
    margin: 0 auto;
}

#album .card {
    width: 45%;
    margin:2%;
}

.imageView .has-no-header {
	top: 44px !important;
}
.imageView .headerView .close-btn {
	font-size: 10px;
}