.menu .bar.bar-header.expanded {
    transition: all 0s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: $dark-primary-color;
    background-image: -webkit-linear-gradient( $dark-primary-color, $primary-color);
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.menu .scroll {
    background-color: white;
}
.menu .list .item {
    border-bottom: 1px solid $divider-color;
}
.menu .list {
    padding: 10px;
    i {
        float: right;
    }
    .sidemenu-subitem-1 {
        padding-left: 20px;
        background-color: #f2f2f3;
    }
}
#mmc-sidemenu {
    .micon-left {
        float: left;
        padding-right: 10px;
    }
}

