
	.modal-backdrop-bg {
		background: rgba(0,0,0,0.5);
	}
	#modal-custom {
		min-height: 50%;
		height: 50%;
		top: 25%;
		width: 80%;
		margin-left: 10%; 

		.bar {
			background: $primary-color;
			text-align: right;
		}
		.bar .title + .button:last-child {
			top: 0;
			bottom: 0;
		}
		.scroll {
			position : relative;
			.message-wrapper {
				position: absolute;
				width: 100%;
				height: 100%;
				.message-body {
					display: table;
					width: 100%;
					height: 100%;

					div {
						display: table-cell;
						vertical-align: middle;
						text-align: center;

						img {
							width: 20px;
							height: 20px;
						}
						p {
							margin: 0;
						}
					}
				}
			}
		}
	}
