$dark-primary-color: #FF512F;
$primary-color: #F09819;
$light-primary-color: #FFB74D;
$text-primary-color : #212121;
$accent-color: #8BC34A;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$purple: #4A148C;
$red: #B71C1C;