/* General
==================================*/
:root {
   --dark-primary-color: #FFA000;
   --primary-color: #FFC107;
   --light-primary-color: #FFECB3;
   --text-primary-color : #212121;
   --accent-color: #8BC34A;
   --primary-text-color: #212121;
   --secondary-text-color: #757575;
   --divider-color: #BDBDBD;
}





/* Menu
==================================*/



/* Login
==================================*/


/* Home
==========================================*/
 

/* Gallery
========================================================================================
*/


/* Notifications
============================================================================================
*/


/* Event
=================================================================================================
*/

