
.login form .login-form input[type="email"]{
    border-bottom: 1px solid #BDBDBD !important; 
}
.login form .login-form input[type="email"]:hover{
    border-bottom: 2px solid #BDBDBD !important;
    font-weight: bold;
}

.event-plan{
    border: 2px solid red;
}
.event-plan .second-column, .event-plan .first-column{
     border: 1px solid #bbbbbb;
     padding : 5px 10px;
} 
.event-plan .first-column{
    width: 30%;
}

.event-plan .second-column{
    width: 70%;
}



/* Menu
==================================*/



/* Login
==================================*/


/* Home
==========================================*/
 

/* Gallery
========================================================================================
*/


/* Notifications
============================================================================================
*/


/* Event
=================================================================================================
*/

