
.login form .login-form input[type="email"]{
    border-bottom: 1px solid #BDBDBD !important; 
}
.login form .login-form input[type="email"]:hover{
    border-bottom: 2px solid #BDBDBD !important;
    font-weight: bold;
}

.event-plan{
    border: 2px solid red;
}
.event-plan .second-column, .event-plan .first-column{
     border: 1px solid #bbbbbb;
     padding : 5px 10px;
} 
.event-plan .first-column{
    width: 30%;
}

.event-plan .second-column{
    width: 70%;
}

.button:hover{
    color: white;
}

.bar .button.side-menu-button{
    max-width: none;
    position: absolute;
    bottom: 1px;
    right: 0;
    width: auto;
    padding: 0 10px;
    font-size: 14px;
}

.text-center{
    text-align: center;
}

h2.side-menu-header{
    min-height: 25px;
}

.no-margin-top{
    margin-top: 0 !important;

}

.hide{
    display: none !important;
}

.home-page-event-content{
    margin-top: 20px;
}

.home-page-event-image-only{

}

.home-page-event-content-only{
    
}
